<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/4d35d9ca-a77b-413d-97c6-f4119092df48/resourcegroups/OperatioResourceGroup/providers/Microsoft.ContainerRegistry/registries/OperatioCoreServices</ResourceId>
    <ResourceName>OperatioCoreServices</ResourceName>
    <ResourceGroup>OperatioResourceGroup</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>operatiocoreservices.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>true</ExcludeApp_Data>
  </PropertyGroup>
</Project>