<div class="d-flex flex-column align-items-center justify-content-center">

    <img src="~/assets/img/urban-931.gif" />
    <h1 class="text-dark">Welcome to <span class="fw-bold text-primary">Øperatio!</span></h1>
    <p class="text-muted">The most reliable way to calculate your <span class="fw-bold text-primary">AR$</span> budgets!</p>

    <a class="btn bg-primary text-white my-4" asp-area="" asp-controller="Operation" asp-action="Index">Let's Go!</a>

    <span class="small text-muted">If you are <span class="fw-bold text-primary">Argentinian</span> and you work for foreign companies</span>
    <span class="small text-muted mb-2">this handy tool will help you calculate your budgets!</span>

    <span class="small fw-bold text-primary">Calculate the exact amount of Crypto you need to exchange for your expenses!</span>
</div>

@section Scripts {
    <script type="text/javascript">
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
    </script>
}