<div class="d-flex flex-column align-items-center justify-content-center">

    <img src="~/assets/img/urban-931.gif" />
    <h1 class="text-dark">Welcome to <span class="fw-bold indigo">Øperatio!</span></h1>
    <p class="text-muted">The most reliable way to make your <span class="fw-bold indigo">AR$</span> budgets!</p>
    <p class="fw-bold indigo">Crete your Budget Now!</p>
    <a class="btn bg-indigo text-white" asp-area="" asp-controller="Operation" asp-action="Index">Let's Go!</a>

</div>