html, body {
    height: 100% !important;
    padding: 0 !important;
    overflow-y: visible !important;
}

h1:not(i), h2:not(i), h3:not(i), h4:not(i), h5:not(i), h6:not(i), p:not(i), span:not(i), a:not(i), td:not(i), tr:not(i) {
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -2.5px;
}

p, span, a, td, tr {
    font-size: 90%;
}

a {
    text-decoration: none;
}

.vr {
    display: inline-block;
    align-self: stretch;
    width: 1px !important;
    min-height: 1em;
    background-color: currentColor;
    opacity: .25;
}