html, body {
    height: 100% !important;
    padding: 0 !important;
    overflow-y: visible !important;
}

h1, h2, h3, h4, h5, h6, p, span, a, td, tr {
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -2.5px;
}

p, span, a, td, tr {
    font-size: 90%;
}

a {
    text-decoration: none;
}

.vr {
    display: inline-block;
    align-self: stretch;
    width: 1px !important;
    min-height: 1em;
    background-color: currentColor;
    opacity: .25;
}

.indigo {
    color: #6610f2;
}

.bg-indigo {
    background-color: #6610f2;
}